<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">Hello, Everyone!</h1>
  <p class="lead"> My name is Benjamin Lazeroff and I am a student at UCCS.</p>
  <hr class="my-4">
  <p>Below is some of the work I have done at UCCS. Take A Look!</p>
  
</div>



<h1>Projects</h1>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Show', project, class:"btn btn-dark" %></td>
        <td><%= link_to 'Edit', edit_project_path(project), class:"btn btn-dark" %></td>
        <td><%= link_to 'Destroy', project, class:"btn btn-dark", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, class:"btn btn-dark" %>
